.DS_Store
.venv/
.uv-cache/
.cache/
__pycache__/
*.py[cod]

/data/*
!/data/run_labels.csv
/plots/*
!/plots/.gitkeep
/result/*
!/result/ae_base/
!/result/ae_bin/
/result/ae_base/*
!/result/ae_base/.gitkeep
/result/ae_bin/*
!/result/ae_bin/.gitkeep
